{% extends 'catalog/base.html' %}
{% block content %}
<div class="col-12 text-center">

    <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="card mb-4 box-shadow ">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Создание Блога</h4>
            </div>
            <div class="card-body text-center">
                <div class="row-4"> <h2>{{object.title}} ({{object.slug}})</h2></div>
                <div class="row-4"> <h3>{{object.content}}</h3></div>
                <div class="row-4"> {{object.created_at}}</div>
                {% if object.feature %}
                <div class="row-4"> Признан к публикации</div>
                {% else %}
                <div class="row-4"> Не признан к публикации</div>
                {% endif %}
                <div class="row-4"> Просмотры: {{object.views_count}}</div>

                <img class="bd-placeholder-img card-img-center" width="20%" height="100" src="/media/{{object.preview}}" alt="#">

            </div>
            <a href="{% url 'blog:update' object.pk %}" class="btn btn-success mb-3">Изменить</abutton></a>
            <a href="{% url 'blog:list' %}" class="btn btn-success mb-3">Назад</abutton></a>
            <a href="{% url 'blog:delete' object.id %}" class="btn btn-danger">Удалить</abutton></a>

        </div>

    </div>

    {% endblock %}


